
<html lang="en">                                           <head>                                                       <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initia
l-scale=1">

  <title>Register</title>

  <!-- HTML -->

  <!-- Custom Styles -->
  <style>
  *{
  background-color:#ddd;
  margin:0; padding:0;
  }
  form{
  width:320px;                                               background:#3e3d3d;
  padding:40px 20px;                                         border-sizing:border-box;
  position:fixed;                                            left:19.50%;
  top:30%;
  transform:translate(-50px, -50px);
  color:white;
  }
  h1{
  background-color:#3e3d3d;
  color:white;
  text-align:center;                                         font-family:san-serif;
  margin-bottom:20px;                                        }
  input{                                                     width:100%;
  background:none;
  boder:1px solide white;
  padding:6px 20px;
  box-sizing:border-box;                                     margin-bottom:20px;
  font-size:16pt;

  }
   #button{
background-color:darkorange;
cursor:pointer;
color:black;
border:none;
  }
#button : hover{                                          background-color:orange;                                 transition:.6s;
  }
  p {
color:white;
background:#3e3d3d;
  }
  a {
color:red;
background:#3e3d3d;
  }
   </style>
</head>

<body>
<div id="form">
<form method="post" action="/register">
  <h1>Sign up</h1>
  <input id="name" name="name" type="text" placeholder="Name" required>
  <input id="email" name="email" type="text" placeholder="Email" required>
  <input id="password" name="password" type="password" placeholder="Password" required>
  <input type="password" placeholder="Confirm password">

  <input id="button" type="submit" value="Submit" ></input>
  <p> have an account                                             <a href="/login">login</a></p>
  </form>
  </div>
</body>
</html>
